%h1 Listing teams

%table
  %thead
    %tr
      %th#order Order
      %th#name Name
      %th#owners Owners
      %th#description
      %th
      %th
      %th

  %tbody
    - @teams.each do |team|
      %tr
        %td= team.order
        %td= team.name
        %td= team.owners
        %td= team.description
        %td= link_to 'Show', team
        - if user_signed_in?
          %td= link_to 'Edit', edit_team_path(team)
          %td= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }

%br
