%p#notice= notice

%p
  %b Order:
  = @team.order
%p
  %b Name:
  = @team.name
%p
  %b Owners:
  = @team.owners
%p
  %b Description:
  = @team.description

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
