%h1 Welcome to Banana Land Fantasy Baseball
%p
  %a{href: '#draft'} Draft
  %a{href: '#teams'} Teams
  %a{href: '#keepers'} Keepers
  %a{href: '#rules'} Rules
  %a{href: '#players'} Players
  - if current_user
    = link_to "Log Out", destroy_user_session_path
  - else 
    %a{href: '/users/sign_in'} Admin Login

%h2#draft Draft

%p#draft_text
  The Draft is at #{local_time(@draft_date)}
  %br
  Here's a link to a calendar invite: 
  %a{href: asset_path('/events/fantasydraft.ics')} Download
  %br
  Zoom Room Link:
  %a{href: @zoom_url} Here

%h2#teams Teams
%p Teams are currently sorted by draft order.

%ol
  - @teams.each do |team|
    %li
      %a{href: team_path(team)} #{team.name} 

%h2#rules Rules
%ul.rules
  - @rules.each do |rule|
    %li #{rule.text}

%h2#players Players
%a{href: '/players'} Full List of Players

%h2#keepers Keepers
= render 'players/keepers', keepers: @keepers

