= form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  -# select team
  .field
    = f.label :team_id
    = f.collection_select :team_id, Team.all, :id, :name
  -# Player is a keeper (checkbox)
  .field
    = f.label "Player is a Keeper?"
    = f.check_box :is_keeper
  .actions
    = f.submit 'Save'
