= form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  -# select team
  .field
    = f.label :team_id
    = f.collection_select :team_id, Team.all, :id, :name
  -# Player is a keeper (checkbox)
  .field
    = f.label "Player is a Keeper?"
    = f.check_box :is_keeper
  -# If above is checked, show the following fields using stimulus
  - if @player.is_keeper
    -# Draft Round
    .field
      = f.label :draft_round
      = f.number_field :draft_round, min: 1, max: 12
    -# Draft Pick
    .field
      = f.label :draft_pick_number
      = f.number_field :draft_pick_number, min: 1, max: 12

  .actions
    = f.submit 'Save'
