%table
  %thead
    %tr
      %th Rank
      %th Name
      %th Position
      %th 2021 Draft Position
      %th 2022 Draft Position
      %th Fantasy Team
      %th MLB Team
      %th ADP
      %th Player Links

  %tbody
    - @players.each do |player|
      %tr{ class: player.is_keeper ? 'keeper' : '' }
        %td= player.rank
        %td= player.name
        %td= player.positions_display
        %td= player.last_year_draft
        %td= player.draft_2022
        %td= player.fantasy_team
        %td= player.mlb_team.upcase
        %td= player.adp
        %td
          = link_to 'Show', player
          = link_to 'Edit', player if user_signed_in?
