%p#notice= notice

%p
  %b Rank:
  = @player.rank
%p
  %b Name:
  = @player.name
%p
  %b Position:
  = @player.position
%p
  %b Team:
  = @player.team
%p
  %b Adp:
  = @player.adp
%p
  %b Avg cost:
  = @player.avg_cost

- if user_signed_in?
  = link_to 'Edit', edit_player_path(@player)
  \|
= link_to 'All Players', players_path
