%p#notice= notice

%p
  %b Name:
  = @player.name
%p
  %b Rank:
  = @player.rank
%p
  %b MLB Team:
  = @player.mlb_team
%p
  %b Position:
  = @player.positions_display
%p
  %b Team:
  = @player.fantasy_team
%p
  %b Average Draft Position:
  = @player.adp
%p 
  %b Last Year's Team: 
  = @player.last_year_team.name
%p
  %b 2021 Draft Position:
  = @player.last_year_draft

- if user_signed_in?
  = link_to 'Edit', edit_player_path(@player)
  \|
= link_to 'All Players', players_path
