%h1 Official Rules

%table
  %thead
    %tr
      %th
      %th
      %th
      %th

  %tbody
    - @rules.each do |rule|
      %tr
        %td
          %li= rule.text
        - if user_signed_in?
          %td= link_to 'Show', rule
          %td= link_to 'Edit', edit_rule_path(rule)
          %td= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' }

%br
- if user_signed_in?
  = link_to 'New Rule', new_rule_path
